* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

header, .block-1, .block-2, .block-3, .block-4, footer {
    padding: 0 10%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    gap: 20px;

}

header a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}
ul li {
    list-style: none;
    display: inline-flex;
}

ul li a {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
}

.dark-background {
    background-color: #1f2937;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.block-1 p  {
    color: white;
}

button {
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: #3882f6;

}

.image-1 {
    flex: 1;
    width: 300px;
    height: auto;
}

.flex-container p {
    color: #1f2937;
    font-weight: 200;
}

.info-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    width: 150px;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    padding: 20px;
}

footer a {
    color: #f9faf8;
    text-decoration: none;
}